BODY {
	text-align: center;
	font-family: 'Lucida Grande', sans-serif;
}

.shorten-wrapper {
	clear: both;
	margin: 4px auto;
	width: 50%;
	background-color: #E3E3E3;
	background-repeat: no-repeat;
}

.shorten-wrapper .top {
	background-image: url(/images/corner_tl.png);
}

.shorten-wrapper .top span {
	background-image: url(/images/corner_tr.png);
}

.shorten-wrapper .bottom {
	background-image: url(/images/corner_bl.png);
}

.shorten-wrapper .bottom span {
	background-image: url(/images/corner_br.png);
}

.shorten-wrapper .top,.shorten-wrapper .bottom {
	background-color: #E3E3E3;
	background-repeat: no-repeat;
}

.shorten-wrapper .border-row {
	clear: both;
	height: 8px;
	line-height: 8px;
	position: relative;
	z-index: 0 !important;
}

.shorten-wrapper .border-row span {
	background-position: 100% 0;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	width: 8px;
}

#shorten-action {
	
}

form,fieldset,button {
	border: 0 none;
	margin: 0;
	padding: 0;
}

#shorten-action table {
	
}

.gwt-TextArea {
	font-family: 'Lucida Grande', sans-serif;
	background-color: #FEFFEC;
	border: 0 none;
	font-size: 16px;
	height: 24px;
	margin: 0;
	padding: 2px;
	width: 100%;
	background-color: #FEFFEC;
}

#shorten-action td#shorten-button {
	text-align: right;
	width: 122px;
}

.sendButton {
	background: transparent url(/images/button_shorten.png) no-repeat scroll
		0 0;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
	padding-bottom: 1px;
	width: 110px;
}

.counter {
	font-family: 'Georgia', 'Serif';
	font-size: 1.2em;
}

.doneStatus {
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1.1;
	color: green;
}

.errorStatus {
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1.1;
	color: red;
}

.workingStatus {
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1.1;
	color: #FDAC19;
}

.message {
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1.1;
}

.gwt-Button:active {
	border: 1px inset #ccc;
}

.gwt-Button:hover {
	border-color: #9cf #69e #69e #7af;
}

#shorten-action,#shorten-options {
	background-color: #E3E3E3;
}
a {
	color: black;
	text-align: center;
	color: #444;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial,
		Helvetica, sans-serif;
	font-size: 11px;
}