<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>BityBot.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>BitlyBotServiceServlet</servlet-name>
		<servlet-class>
			com.bitybot.server.service.BitlyBotServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BitlyBotServiceServlet</servlet-name>
		<url-pattern>/bitybot/BitlyBotService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BitlyBot</servlet-name>
		<servlet-class>
			com.bitybot.server.servlets.BitlyBotServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BitlyBot</servlet-name>
		<url-pattern>/_wave/robot/jsonrpc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>
			com.bitybot.server.servlets.BitlyBotProfileServlet
		</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/_wave/robot/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>
			com.bitybot.server.api.BitlyBotAPI
		</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/shorten</url-pattern>
	</servlet-mapping>
</web-app>
